<div class="container border rounded border-secondary mb-3 ">
    <div class="container row row-cols-4 mt-3 mb-3 ">
      <div class="col">
    <!-- <select class="form-select selectpicker" multiple aria-label="multiple select example"> -->
      <select  class="form-select" >
      <option selected>Выберите категорию</option>
      <option value="1">Wok</option>
      <option value="2">Pizza</option>
      <option value="3">Soup</option>
      <option value="4">Dessert</option>
      <option value="5">Drink</option>
    </select>
  </div>
  <div class="col">
    <select class="form-select"  aria-label=" select example">
      <option selected>Выберите категорию</option>
      <option value="1">По названию</option>
      <option value="2">По названию с конца</option>
      <option value="3">По возрастанию цены</option>
      <option value="4">По убыванию цены</option>
      <option value="5">По возрастанию рейтинга</option>
      <option value="6">По убыванию рейтинга</option>
    </select>
  </div>
    <div class=" form-check form-switch align-self-end">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label text-white" for="flexSwitchCheckDefault">Показать только вегетарианские</label>
    </div>
    <div class="col-2 row align-self-end">
      <button type="button" class="btn btn-primary">Подтвердить</button>
    </div>
  </div>
</div>

<div class="d-none" id = "sample-card">
    <div class="col h-100">
      <div class="card card-dish-catalog h-100 ">
        <img src="" class="card-img-top dish-poster-image" alt="">
          <div class="card-img-overlay">
           <img src="" class="col-2 vegan" alt="">
         </div>
        <div class="card-body text-white ">
          <h5 class="dish-name fs-4"></h5>
          <div class="dish-category"></div>
              <input  class="rating " value="1.5" data-min="0" data-max="10" data-step="1" data-readonly="true">
          <div class="dish-description"></div>
        </div>
        <div class="card-footer">
          <small class="text-white dish-price"></small>
        </div>
      </div>
    </div>
</div>

    <main class="container-fluid row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4"  id="dishes-catalog-container"></main>
    <nav class="container d-flex justify-content-center pt-2" id="movies-nav-container">
        <ul class="pagination pagination-dark" id="movies-nav-pagination">
            <li class="page-item">
                <a class="page-link" href="" aria-label="Предыдущая" id="page-item-back">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="/1" id="page-item-first">1</a></li>
            <li class="page-item"><a class="page-link" href="/2" id="page-item-second">2</a></li>
            <li class="page-item"><a class="page-link" href="/3" id="page-item-third">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Следующая" id="page-item-next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
   
