    <main class="card container text-white" >
         <h5 class="card-title fs-1 mt-2 mx-2 ">Товары в корзине</h5>
         <div class="card-body" id ="cart-container">
            <div class="card  d-none " id ="dishCard">
                <div class="card-body container">
                    <div class=" row">
                              <div class="row col-10 col-10 col-md-9 col-xxl-6 col-lg-8">
                                    <div class="col-10 col-md-4 col-xxl-4">
                                     <div class=" number "></div>
                                    <div class="">
                                    <img class="img-fluid w-75 rounded d-block" id="dish-picture" alt="" />
                                 </div>
                                </div>
                                 <div class="col-12 col-md-8 col-xxl-8 pt-2">
                                    <div class="col name fs-5 fw-bold"></div>
                                    <div class="col price"></div>
                                <div class="btn-group col-8 col-md-4 col-xxl-4 mt-2 " role="group" aria-label="First group">
                                    <button type="button" class="col-4 btn btn-outline-secondary" id="minus">-</button>
                                    <input type="number" class="col-4"  id="counter" maxlength="2" min="1" readonly>
                                    <button type="button" class="col-4 btn btn-outline-secondary" id="plus">+</button>
                                  </div>
                            </div>
                                </div>
                                
                        <div class="col-2 col-md-3 col-lg-4 col-xxl-6  h-50 d-flex align-items-end d-sm-flex justify-content-end mt-4 mt-sm-3">
                        <button type="button" class="btn btn-outline-danger" id="delete">Удалить</button>
                        </div>
            </div>
         </div>
    </main>
<div class="alert alert-dark d-none text-center" role="alert" id="error">
    <h4 class="alert-heading">Корзина пуста</h4>
  </div>