<div class="container">
    <div class="card">
        <div class="card-body text-light row">
            <div class="row d-flex flex-column">
                <div class="fs-2" id="nickName">Профиль</div>
                <div class="pt-2">
                    <label for="" class="form-label">ФИО</label>
                    <input type="text" class="form-control bg-dark text-light border-secondary" id="inputName" disabled name="name">
                    <div class="invalid-feedback">
                        Пожалуйста, введите имя пользователя.
                      </div>
                </div>
                <div class="pt-2">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control bg-dark text-light border-secondary" id="inputEmail" disabled name="email">
                </div>
                <div class="pt-2">
                    <label for="" class="form-label">Дата рождения</label>
                    <input type="date" class="form-control bg-dark text-light border-secondary" id="inputBirthdate" disabled name="birth-date">
                    <div class="invalid-feedback">
                        Укажите корректную дату рождения 
                      </div>
                </div>
                <div class="pt-2">
                    <label for="" class="form-label">Пол</label>
                    <select class="form-select bg-dark text-light border-secondary" id="inputGender" disabled>
                        <option value="Male">Мужчина</option>
                        <option value="Female">Женщина</option>
                    </select>
                </div>
                <div class="pt-2">
                    <label for="" class="form-label">Адрес</label>
                    <input type="text" class="form-control bg-dark text-light border-secondary" id="address" disabled name="address">
                    <div class="invalid-feedback">
                        Укажите адрес
                      </div>
                </div>
                <div class="pt-2">
                    <label for="" class="form-label">Телефон</label>
                    <input type="text" class="form-control bg-dark text-light border-secondary" id="telephone" disabled name="telephone">
                    <div class="invalid-feedback">
                        Укажите номер телефона
                      </div>
                </div>
                <div class="d-flex align-items-start">
                    <div class="btn btn-outline-warning mt-4" id="btnEdit">Редактировать</div>
                    <div class="btn btn-outline-primary mt-4 d-none" id="btnSave">Сохранить</div>
                </div>
            </div>
        </div>
    </div>
</div>