<div class="container border rounded border-secondary mb-3" id ="forSelect">
    <!-- container select -->
</div>
        <div class=" d-none container row row-cols-sm-2 row-cols-md-2  row-cols-lg-4 row-cols-xl-4  mt-3 mb-3 " id="selecter">
            <div class="col col-lg-4 col-md-6 my-1 align-self-center">
            <select id="dishSelect" class="selectpicker" multiple >
            <option selected value="Wok">Wok</option>
            <option value="Pizza">Pizza</option>
            <option value="Soup">Soup</option>
            <option value="Dessert">Dessert</option>
            <option value="Drink">Drink</option>
          </select>
          </div>
          <div class="col col-lg-4 col-md-6 my-1 align-self-center">
          <select id="sortingSelect" class="selectpicker"  aria-label=" select example" >
            <option value="NameAsc">По названию</option>
            <option value="NameDesc">По названию с конца</option>
            <option value="PriceAsc">По возрастанию цены</option>
            <option value="PriceDesc">По убыванию цены</option>
            <option value="RatingAsc">По возрастанию рейтинга</option>
            <option value="RatingDesc">По убыванию рейтинга</option>
          </select>
          </div>
          <div class="col col-lg-4 my-1 col-md-6 form-check form-switch align-self-center ">
            <input class="form-check-input align-self-center" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label text-white" for="flexSwitchCheckDefault">Показать только вегетарианские</label>
          </div>
          <div class="col col-lg-7 col-md-6 p-3 align-self-center d-lg-flex flex-row-reverse bd-highlight">
            <button type="button" class="btn btn-primary p-2 bd-highlight" id ="confirmBtn">Подтвердить</button>
          </div>
        </div>

<div class="d-none scale" id = "sample-card">
    <div class="col h-100">
      <div class="card card-dish-catalog h-100 ">
        <a href="#" class="stretched-link" id="link"></a>
        <img src="" class="card-img-top dish-poster-image" alt="">
          <div class="card-img-overlay">
           <img src="" class="col-2 vegan" alt="">
         </div>
        <div class="card-body text-white ">
          <h5 class="dish-name fs-4"></h5>
          <div class="dish-category"></div>
              <input  class="rating " value="1.5" data-min="0" data-max="10" data-step="1" data-readonly="true">
          <div class="dish-description"></div>
        </div>
      
        <div class="card-footer container-fluid">
          <div class="row">
          <div class="col">
          <small class="text-white dish-price"></small>
         </div>  
          <div class="col d-flex flex-row-reverse bd-highlight" id="confirm">
            <button type="button" class="btn btn-primary" id ="confirmBtn">Купить</button>
          </div>
          <div class="btn-group col h-25 d-none" role="group" aria-label="First group" id="groupbtn">
            <button type="button" class="col-4 btn btn-outline-secondary" id="minus">-</button>
            <input type="number" class="col-4"  id="counter" maxlength="2" min="1" readonly>
            <button type="button" class="col-4 btn btn-outline-secondary" id="plus">+</button>
          </div>
          </div>
       </div>
        <!-- <a href="#" class="stretched-link" id="link"></a> -->
      </div>
    </div>
</div>

    <main class="container-fluid row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4"  id="dishes-catalog-container"></main>
    <nav class="container d-flex justify-content-center pt-2 mt-5" id="dishes-nav-container">
        <ul class="pagination pagination-dark" id="dishes-nav-pagination">
            <li class="page-item d-none">
                <a class="page-link" href="" aria-label="Предыдущая" id="page-item-back">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item d-none"><a class="page-link" href="/1" id="1">1</a></li>
            <li class="page-item d-none"><a class="page-link" href="/2" id="2">2</a></li>
            <li class="page-item d-none"><a class="page-link" href="/3" id="3">3</a></li>
            <li class="page-item d-none"><a class="page-link" href="/4" id="4">4</a></li>
            <li class="page-item d-none"><a class="page-link" href="/5" id="5">5</a></li>
            <li class="page-item d-none"><a class="page-link" href="/6" id="6">5</a></li>

            <li class="page-item d-none">
                <a class="page-link" href="#" aria-label="Следующая" id="page-item-next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container alert alert-dark d-none text-center" role="alert" id="error">
      <h4 class="alert-heading">Скоро будет в наличии</h4>
      </div>
