<div class="container border rounded border-secondary mb-3" id ="forSelect">
    <!-- container select -->
</div>
        <div class=" d-none container row row-cols-4 mt-3 mb-3 " id="selecter">
            <div class="col">
            <select id="dishSelect" class="form-select" multiple >
            <option selected value="Wok">Wok</option>
            <option value="Pizza">Pizza</option>
            <option value="Soup">Soup</option>
            <option value="Dessert">Dessert</option>
            <option value="Drink">Drink</option>
          </select>
          </div>
          <div class="col align-self-center">
          <select id="sortingSelect" class="form-select"  aria-label=" select example" >
            <option value="NameAsc">По названию</option>
            <option value="NameDesc">По названию с конца</option>
            <option value="PriceAsc">По возрастанию цены</option>
            <option value="PriceDesc">По убыванию цены</option>
            <option value="RatingAsc">По возрастанию рейтинга</option>
            <option value="RatingDesc">По убыванию рейтинга</option>
          </select>
          </div>
          <div class=" form-check form-switch align-self-center">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label text-white" for="flexSwitchCheckDefault">Показать только вегетарианские</label>
          </div>
          <div class="col-2 row align-self-center ms-auto p- bd-highlight">
            <button type="button" class="btn btn-primary" id ="confirmBtn">Подтвердить</button>
          </div>
        </div>

<div class="d-none" id = "sample-card">
    <div class="col h-100">
      <div class="card card-dish-catalog h-100 ">
        <img src="" class="card-img-top dish-poster-image" alt="">
          <div class="card-img-overlay">
           <img src="" class="col-2 vegan" alt="">
         </div>
        <div class="card-body text-white ">
          <h5 class="dish-name fs-4"></h5>
          <div class="dish-category"></div>
              <input  class="rating " value="1.5" data-min="0" data-max="10" data-step="1" data-readonly="true">
          <div class="dish-description"></div>
        </div>
        <div class="card-footer">
          <small class="text-white dish-price"></small>
        </div>
      </div>
    </div>
</div>

    <main class="container-fluid row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4"  id="dishes-catalog-container"></main>
    <nav class="container d-flex justify-content-center pt-2" id="dishes-nav-container">
        <ul class="pagination pagination-dark" id="dishes-nav-pagination">
            <li class="page-item">
                <a class="page-link" href="" aria-label="Предыдущая" id="page-item-back">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="/1" id="page-item-first">1</a></li>
            <li class="page-item"><a class="page-link" href="/2" id="page-item-second">2</a></li>
            <li class="page-item"><a class="page-link" href="/3" id="page-item-third">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Следующая" id="page-item-next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
   
