body {
    background-color: #151517;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #151517;
}

::-webkit-scrollbar-thumb {
    background-color: #929292;
}

.card {
    background-color: #212529;

}

.card-header {
    background-color: #1d2023;
}

.card-footer {
    background-color: #1d2023;
}




#dishes-nav-pagination>li>a {
    background-color: #212529;
    color: #a7a7a7;
    border-color: #212529;
}

#dishes-nav-pagination>li>a:focus,
#dishes-nav-pagination>li>a:hover,
#dishes-nav-pagination>li>span:focus,
#dishes-nav-pagination>li>span:hover {
    color: #bdbdbd;
    background-color: #212529;
    border: solid 1px #4c535b;
}

#dishes-nav-pagination>.active>a {
    color: white;
    background-color: #212529;
    border: solid 1px #212529;
}

#dishes-nav-pagination>.active>a:hover {
    border: solid 1px #4c535b !Important;
}
